{
  "env": {
    "es2020": true
  },
  "plugins": [
    "jsdoc"
  ],
  "rules": {
    "block-scoped-var": "error",
    "camelcase": "error",
    "consistent-return": "error",
    "eol-last": "error",
    "no-async-promise-executor": "error",
    "no-invalid-regexp": "error",
    "no-lonely-if": "error",
    "no-multi-spaces": "error",
    "no-param-reassign": "error",
    "no-return-await": "error",
    "no-self-assign": "error",
    "no-self-compare": "error",
    "no-var": "error",
    "no-tabs": "error",
    "no-trailing-spaces": "error",
    "no-unexpected-multiline": "error",
    "no-unreachable": "error",
    "no-unsafe-finally": "error",
    "no-unsafe-negation": "error",
    "no-useless-return": "error",
    "no-whitespace-before-property": "error",
    "prefer-const": "error",
    "prefer-promise-reject-errors": "error",
    "prefer-regex-literals": "error",
    "quotes": ["error", "single"],
    "radix": "error",
    "require-await": "error",
    "require-atomic-updates": "error",
    "use-isnan": "error",
    "valid-typeof": "error",
    "jsdoc/check-alignment": 2,
    "jsdoc/check-param-names": 2,
    "jsdoc/check-syntax": 2,
    "jsdoc/check-tag-names": 2,
    "jsdoc/check-types": 2,
    "jsdoc/check-values": 2,
    "jsdoc/implements-on-classes": 2,
    "jsdoc/match-description": 2,
    "jsdoc/newline-after-description": 2,
    "jsdoc/no-undefined-types": 2,
    "jsdoc/require-jsdoc": 2,
    "jsdoc/require-param": 2,
    "jsdoc/require-param-description": 2,
    "jsdoc/require-param-name": 2,
    "jsdoc/require-param-type": 2,
    "jsdoc/require-returns": 2,
    "jsdoc/require-returns-check": 2,
    "jsdoc/require-returns-description": 2,
    "jsdoc/require-returns-type": 2,
    "jsdoc/valid-types": 2
  }
}
