# Ignore everything
*
# Include necessary dot-files
!.gitignore
!.npmrc
# Include necessary files
!eslint.config.mjs
!LICENSE
!app.js
!package.json
!package-lock.json
!README.md
# Include necessary dot-directories
!.github
!.github/workflows
!.github/workflows/*.yml
# Include necessary directories
!bin
!bin/run-cli
!helpers
!helpers/*.js
!README.md-img
!README.md-img/*.png
